<div class="container-fluid p-0">
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
                <h3 class="mb-4">Educacion</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <br>
                    <br>
                        <tr *ngFor="let Educacion of educ">
                            <td class="subheading mb-5">{{Educacion.nombreEd}}</td>
                            <td >{{Educacion.descripcionEd}}</td>
                            <td *ngIf="isLogged"><button class="btn btn-warning" routerLink="/editedu/{{Educacion.id}}" > 
                                <i class="bi bi-pencil-fill"></i> Editar</button></td>
                            <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Educacion.id)" >
                                <i class="bi bi-trash-fill"></i>borrar</button></td>
                        </tr>
                    </tbody>
                        <div>  
                            <br>
                            <br>                       
                            <button class="btn btn-primary" type="button" routerLink="/nuevaedu/" *ngIf="isLogged" > Nueva Educacion</button>
                            <br>
                            <br> 
                        </div>
                </table> 
            </div>
        </div>
    </section>
</div>
  