<div class="container-fluid p-0">
    <section class="resume-section">   
        <div class="resume-section-content">
            <div class="d-flex flex-column flex-bg-row justify-content-between mb-3">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <br>
                <br>
                    <div class="form-group" >
                        <label for="nombreEd"><h3>Nombre de la institucion</h3></label>
                        <input type="text" class="form-control"  id="nombreEd" name="nombreEd" [(ngModel)]="nombreEd" required> 
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="descripcionEd"><h3>Estudios ralizados</h3></label>
                        <input type ="text" class="form-control" id="descripcionEd"  name="descripcionEd" [(ngModel)]="descripcionEd" required > 
                    </div>
                    <br>
                        <button class = "btn btn-primary">Agregar Educacion</button>
                </form>
            </div>
        </div>
    </section>    
</div>