<div class="container-fluid p-0">
    <hr class="m-0" />
    <section class="resume-section">   
        <div class="resume-section-content">
            <div class="d-flex flex-column flex-bg-row justify-content-between mb-3">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <br>
                <br>
                <div class="form-group" >
                    <label for="nombreEd">Nombre de la institucion</label>
                    <input type="text" class="form-control"  id="nombreEd" name="nombreEd" [(ngModel)]="nombreEd" required> 
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcionEd">Estudios ralizados</label>
                    <input type ="text" class="form-control" id="descripcionEd"  name="descripcionEd" [(ngModel)]="descripcionEd" required > 
                </div>
                <br>
                <button class = "btn btn-primary">
                    Agregar Educacion
                </button>
            </form>
            </div>
        </div>
    </section>    
    <hr class="m-0" />
</div>