<div class="container-fluid p-0">
            <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Roque Maximiliano
                    <span class="text-primary">Giollo</span>
                </h1>
                <div class="subheading mb-5">
                    Calle Cordoba 62 · Unquillo · CP 5109 · (3543) 63-2997 ·
                    <a href="mailto:giolloroque@gmail.com">Contacto</a>

                <!--  
                    <table class = "table">
                        <tbody>
                            <br>
                            <br>
                           <tr *ngFor="let Acerca of acer">
                             <td class="subheading mb"><p>{{ Acerca.nombreA}}</p></td>
                             <td *ngIf="isLogged"><button class="btn btn-warning" routerLink="/editace/{{Acerca.id}}" > 
                                <i class="bi bi-pencil-fill"></i> Editar</button></td>
                           </tr>
                        </tbody>
                    </table> 
                -->     
                        <br>
                        <br>
                    <h3 class="mb-5">Acerca</h3>
                        <div>      
                        <tr *ngFor="let Acerca of acer">
                        <p>{{Acerca.nombreA}}</p>
                        <br>
                        <td *ngIf="isLogged"><button class="btn btn-warning" routerLink="/editace/{{Acerca.id}}" > 
                            <i class="bi bi-pencil-fill"></i>Editar</button></td>   

                        <br>
                        <br>
                    </div>    
                </div>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/roque-giollo/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/RoqueGiollo"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="mailto:giolloroque@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
</div>

<!-- 
                </div>
                    <p class="lead mb-3">
                        "Soy una persona que siempre fue apasionada por la tecnologia y la ciencia, esto me llevo a moverme en el rugbro desde joven. En principio realizaba reparacion de pc y comercializacion de componentes, luego sume redes. En estos momentos estoy estudiando Full Stack jr luego de haber ejercido un tiempo en ventas."
    
                        {{aboutText}}
                    </p>
                    <div class="subheading mb-1">
                    <input type="text" #box >
                        box text/ usa un id  "box"
                    </div>    
                    <div class="subheading mb-5">
                        <button (click)="getVal(box.value)" type="button" class="btn btn-primary">EDITAR ABOUT</button>
                    
                </div>


-->