<div class="container-fluid p-0" >
    <section class="resume-section">   
        <div class="resume-section-content">
            <div class="d-flex flex-column flex-bg-row justify-content-between mb-3">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <br>
                <br>
                    <div class="form-group" >
                        <label for="nombreA"><h3>Actualizar About</h3></label>
                        <input type="text" class="form-control"  id="nombreA" name="nombreA" [(ngModel)]="acer.nombreA " required> 
                    </div>
                    <br>
                        <button class = "btn btn-primary">Actualizar About</button>
                </form>
            </div>
        </div>
    </section>    
</div>