<div class="container-fluid p-0">
        <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
                <h3 class="mb-4">Experiencia</h3>
            <div class="table-responsive">
                <table class="table table-striped" >
                    <tbody>
                    <br>
                    <br>
                        <tr *ngFor="let Experiencia of expe">
                            <td class="subheading mb-5">{{Experiencia.nombreE}}</td>
                            <td >{{Experiencia.descripcionE}}</td>
                            <td *ngIf="isLogged"><button class="btn btn-warning" routerLink="/editexp/{{Experiencia.id}}" > 
                                <i class="bi bi-pencil-fill"></i> Editar</button></td>
                            <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)" >
                                <i class="bi bi-trash-fill"></i>borrar</button></td>
                        </tr>
                    </tbody>
                        <div >  
                            <br>
                            <br>                       <!--nuevaexp declarado en experience.component con dicha logica-->
                                <button class="btn btn-primary" type="button" routerLink="/nuevaexp/" *ngIf="isLogged" > Nueva Experiencia</button>
                            <br>
                            <br>
                        </div>
                </table> 
            </div> 
        </div>                   
    </section> 
</div>

