<div class="container-fluid p-0">
   <hr class="m-0" />
        <section class="resume-section" id="login">
        <div class="resume-section-content">
            <h2 class="mb-5">Login</h2>
            <div>
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                    <div class="form-outline form-white mb-4">
                      <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                        [(ngModel)]="nombreUsuario" required />
                      <label class="form-label" for="nombreUsuario">Usuario</label>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="password" name="password" class="form-control form-control-lg" 
                        [(ngModel)]="password" required />
                      <label class="form-label" for="password">Password</label>
                    </div>
    
                    <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
    
                    <button class="btn btn-primary"  type="submit">Login</button>
    
                  </form>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>