<div class="container-fluid p-0" *ngIf="habi">
    <section class="resume-section">   
        <div class="resume-section-content">
            <div class="d-flex flex-column flex-bg-row justify-content-between mb-3">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group" >
                    <br>
                    <br>
                        <label for="nombreE"><h3>Ingrese Habilidad</h3></label>
                        <input type="text" class="form-control"  id="nombreH" name="nombreH" [(ngModel)]="habi.nombreH " required> 
                    </div>
                    <br>
                        <button class = "btn btn-primary">Actualizar Habilidad</button>
                </form>
            </div>
        </div>
    </section>    
</div>