<div class="container-fluid p-0" >
    <section class="resume-section">   
        <div class="resume-section-content">
            <div class="d-flex flex-column flex-bg-row justify-content-between mb-3">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <br>
                    <br>
                        <div class="form-group" >
                            <label for="nombreE"><h3>Ingrese Habilidad</h3></label>
                            <br>
                            <br>
                            <br>
                                <input type="text" class="form-control"  id="nombreH" name="nombreH" [(ngModel)]="nombreH " required> 
                        </div>
                        <br>
                            <button class = "btn btn-primary">Crear Habilidad</button>
                </form>
            </div>
        </div>
    </section>    
</div>