<div class="container-fluid p-0">
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Habilidades</h2>
            <div class="subheading mb-3">Lenguajes y Herramientas </div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <div class="subheading mb-3">Aptitudes</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Idioma: Ingles nivel medio
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Buena capacidad de trabajo en equipo
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Persona Proactiva
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Buena capacidad de adaptacion
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Capacidad de resolucion de problemas
                </li>
            </ul>
        </div>
    </section>
    
</div>