<div class="container-fluid p-0">
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Intereses</h2>
            <p>Soy una persona que siempre fue muy apasionada por la tecnologias y la ciencia por lo que me llevo a moverme en el rubgro desde joven</p>
            <p>En un principio realizaba reparacion de pc y venta de componentes, luego le sume redes. En estos momentos me encuentro estudiando Full Stack Jr, luego de haber ejercido un tiempo en ventas</p>
        </div>
    </section>
    <hr class="m-0" />
</div>